###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.cs     text   diff=csharp
*.cd     text   merge=binary
*.sln    text   merge=binary
*.csproj text   merge=binary
*.md     text   diff=markdown
*.yaml   text
*.yml    text
*.json   text

###############################################################################
# Exclude files from export
###############################################################################
.gitattributes        export-ignore
.gitignore            export-ignore
.gitkeep              export-ignore
*.yaml                export-ignore
/README.md            export-ignore
/LICENSE              export-ignore
/.github              export-ignore